html, body, div, span, p {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline; }

    // h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, big, cite, code, img, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video