$contentBackground: #fff;
$bodyBackground: #dcbb9a;
$contentHeading: #893c00;
$headingUpperCase: capitalize;
$textColor: #000;
$briefWidth: 380px;
$briefColor: #fadcba;
$thColor: #e0e0e0;
$tableBack: #fff;
$captionColor: #000;
$fieldsetColor: #808080;
$borderColor: #3D70A1;