$contentBackground: #3b3b3b;
$bodyBackground: #e0f6fd;
$contentHeading: #fccd10;
$headingUpperCase: uppercase;
$textColor: #fff;
$briefWidth: 97%;
$briefColor: #fff178;
$thColor: #94a34e;
$tableBack: #677d01;
$captionColor: #000;
$fieldsetColor: #fccd10;
$borderColor: #fccd10;